body, html {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  z-index: -2;
  position: relative; 
 }
 
  .card{
   margin-bottom: 40px;
   position: relative;
   width: 20rem;
   background: rgb(10, 10, 10);
   border-color: rgb(3, 53, 22);
   z-index: 2;
   transition: box-shadow 0.1s ease-in-out; /* Transición suave */
} 
 

.card:hover {
 box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), /* Primer nivel de sombra */
             0 0 40px rgba(0, 255, 0, 0.5), /* Segundo nivel de sombra */
             0 0 60px rgba(0, 255, 0, 0.5); /* Tercer nivel de sombra */
  transform: scale(1.09);
  border-color: greenyellow;
}



.time {
  z-index: -2;
  position: relative;
  width: 50rem;
  margin: auto;
  color: red;
  font-size: 40px;
  margin-bottom: 60px;
  padding: 10px;
  border-bottom: solid 8px rgb(77, 2, 2);
  border-top: solid 4px rgb(77, 2, 2);
  border-left: solid 4px rgb(77, 2, 2);
  border-right: solid 4px rgb(77, 2, 2);
  border-radius: 10px; /* Opcional, para redondear las esquinas */

  /* Efecto 3D */
  background: #000000; /* Fondo oscuro para resaltar el borde */
  box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.5), /* Sombra para dar profundidad */
    -5px -5px 10px rgba(255, 255, 255, 0.1); /* Resplandor sutil para un efecto de luz */
}


.counter{
  z-index: -2;
  position: relative;
  color: red; 
  margin-bottom: 20px;
}

 
 .card-img-top{
   width: 300px;
   height: 100px;
   object-fit: cover;
 }
 
 .card-title{
   font-size: 20px;
 }
 
 .card-cost1{
   padding: 0;
   margin-top: none;
   font-size: 25px;
   text-decoration: line-through;
   color: rgb(253, 253, 253);
 }
 
 .card-cost2{
   padding: 0;
   margin-top: none;
   font-size: 25px;
   color: rgb(255, 0, 0);
 }
 
 img{
   margin-top: 12px;
 }
 
 .background-home{
   margin: 0;
   height: 100vh;
   position: absolute;
   width: 100%;
   z-index: -2;
   object-fit: cover;
 }
 
 .row{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
 }
 /* Efecto máquina de escribir */
 .typingEffect{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  color: greenyellow;
 }



.welcome-page {
  text-align: center;
 
}

/* Encabezado */
.header {
  background-color: #008a22;
  color: #fff;
  padding: 60px 20px;
}

.header-container {
  max-width: 900px;
  margin: 0 auto;
}

.header-title {
  font-size: 48px;
  margin: 0;
}

/* Sección de información */
.about-section {
  padding: 60px 20px;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #008a22;
}

.section-text {
  font-size: 18px;
  margin-bottom: 40px;
  color: #ffffff;
  line-height: 1.6;
  font-weight: bold;
}