/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar{
    border-bottom: 1px;
    border-bottom-style: solid ;
    border-color: greenyellow;
    background-color: rgb(10, 10, 10);
}

.custom-brand {
    font-size: 1.5rem; /* Tamaño de letra más grande */
    font-weight: bold; /* Letras más gruesas */
    padding: 0;
  }