/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.navbar{
    border-bottom: 1px;
    border-bottom-style: solid ;
    border-color: greenyellow;
    background-color: rgb(10, 10, 10);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.login-container label {
    color: rgb(0, 255, 34);
    width: 100%;
    text-align: center;
    background-color: #1313137f;
    font-size: 2.1rem; 
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s ease-in-out;
}

.login-container input:focus {
    animation: inputFocus 0.5s ease-in-out forwards;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1313137f;
    color: #fff;
    font-size: 1.7rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #064600b0;
}


/* Definir la animación para los inputs */
@keyframes inputFocus {
    0% {
        box-shadow: 0 0 0 0 rgba(166, 255, 0, 0.7);
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(60, 148, 9, 0.7);
    }
}

.registro{
    text-decoration: none;
    color: chartreuse;
    background-color: #1313137f;
    color: #fff;
    font-size: 1.7rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* .registro:hover {
    background-color: #460000b0;
} */

.accordion{
    width: 100%;
    background-color: black;
}

.accordion-item{
    background-color: black;
}

.accordion-header{
    background-color: black;
}



.accordion-button{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}



.btn1 {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 3px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  
  .btn1:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
  
  .btn1 {
    background: #11a125;
    box-shadow: 0 10px 0 #155800,
      0 11px 5px hsla(0, 0%, 0%, 0.5);
  }

  .btn1:hover {
    background: #0e851e;
  }
  
  .btn1:active {
    box-shadow: 0 3px 0 #155800,
      0 4px 6px hsla(0, 0%, 0%, 0.7);
  }


  .btn2 {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 3px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
  }
  
  .btn2:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
  
  .btn2 {
    transition: transform 0.01ms ease-in-out; /* 0.05s es equivalente a 50ms */
    background: #11a125;
    box-shadow: 0 10px 0 #155800,
      0 11px 5px hsla(0, 0%, 0%, 0.5);
  }
  
  .btn2:hover {
    background: #0e851e;
  }

  .btn2:active {
    box-shadow: 0 3px 0 #155800,
      0 4px 6px hsla(0, 0%, 0%, 0.7);
  }


  .form-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px
  }

  
  /* Estilo de etiquetas y campos de entrada */
  .form-background {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
  }
  
  /* Estilo de etiquetas y campos de entrada */
  .label-payment{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input-payment[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .input-payment[type="text"]:focus {
    border-color: #6c63ff;
    outline: none;
    box-shadow: 0 0 5px rgba(99, 255, 169, 0.5);
  }
  
 
  
  /* Título de la sección de dirección de facturación */
  .h3-payment{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Efecto de enfoque en los campos de texto */
  .input-payment[type="text"]::placeholder {
    color: #999;
  }
  
  
  /* Estilos para el resumen del producto */
  .product-summary {
    background-color: #f8f8ff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .product-summary span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .product-name {
    font-weight: bold;
    color: #333;
  }
  
  .product-price, .product-quantity {
    color: #666;
  }
  
  /* Estilo del total */
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .total span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .total-price {
    color: #6c63ff;;
    font-size: 18px;
  }

  .div-pagar{
    display: flex;
    justify-content: center;
  }

  .dropdown-menu-end{
    background-color: #0e851e;
    color:white;
  }



  